@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Lilita+One&family=Montserrat&display=swap');

body {
    font-family: 'Lilita One', cursive;
    margin: 0;
    padding: 0;
}

h1{
    color: rgba(255, 255, 0, 0.703);
    background-color: black;
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-size: 40px;
}

header {
    color: rgba(255, 255, 0, 0.703);
    background-color: black;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 1rem;
    font-size: 20px;
}

.pequena {
    width: 200px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    background-color: black;
}

.banner img {
    width: 100%;
    height: auto;
}

.calugas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-items: center;
}

.calugas img {
    width: 80%;
    height: auto;
}

footer {
    background-color: #c29c07;
    color: rgb(7, 7, 7);
    display: grid;
    grid-template-columns: auto 1fr;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    padding-left: 20px;
}

.footer-logo img{
    width: 100px;
}

.footer-info {
    text-align: left;
}


.grid-container-mapa{
  display: grid;
  align-items: center;
  justify-items: center;
  color: rgba(255, 255, 0, 0.703);  
  column-gap: 10px;
  row-gap: 15px;
}